/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
	height: 100%;
	font-family: 'Comfortaa', cursive;

}

.comforta {

	font-family: 'Comfortaa', cursive;
}


.range-slider--range {
  margin-bottom: 35px;
  margin: 0 auto;
}



.timer circle {
  stroke-dasharray: 628;
  stroke-dashoffset: 628;

}

#timerText, #seconds {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 66px;
  text-anchor: middle;
  alignment-baseline: middle;
  margin: 0 auto;
}

#timerText2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 66px;
  text-anchor: middle;
  alignment-baseline: middle;
  margin: 0 auto;
}



.silver {
  fill: grey;
  color: grey;
}

#seconds {
  font-size: 16px;
}

.started {
  fill: black;
}

.caution {
  fill: orange;
}

.alert {
  fill: red;
}

.playPause {
  width:200px;
  height:60px;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-style: bold;
  text-align: center;
}

.resetButton1 {

	 width:200px;
  height:60px;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  font-size: 14px;


}

.fixedClock{

	position:fixed;
	width:100%;
	z-index: 998;
	height: 200px;
}

.down150px {
	top:150px;
	position:relative;

}

.side-nav {
	z-index: 999;
}

.nextButtonStep1 {
  width:200px;
  height:36px;
  margin:auto;
  cursor: pointer;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 29px;
  font-style: bold;
  text-align: center;
}

.center_text {
	text-align: center
}

#innertextStep1Next {
	margin-top:-4px;
}

.SFTinputScoresButton {

	  width:249px;
  height:60px;
  margin:auto;
  cursor: pointer;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-style: bold;
  text-align: center;
}

#sftReport {
	width: auto;
	font-size:36px;
	text-align: center;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 628;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 628;
  }
  to {
    stroke-dashoffset: 0;
  }
}



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


#sftTAB {

	bottom:1%;
	position:fixed;
}

.collapsible-header {

	padding-top:3px;
}

nav {
	position: fixed;
	background-color: white;
	color: black;
}

.brand-logo {

	color:black;
}

strong {

font-size:16px;
}

.bullet-list {

	text-align: left;
}




